nvim/plugin/
zsh/plugins/powerlevel10k
zsh/plugins/zsh-autosuggestions
zsh/plugins/zsh-syntax-highlighting
ranger/plugins/__pycache__/
suckless/
akonadi/
pulse/
khtml/
kingsoft/
KDE/
Kingsoft/
UnknownOrganization/
dconf/
deluge/
gtk-3.0/
gtk-4.0/
kde.org/
kdeconnect/
kdedefaults/
libaccounts-glib/
libfm/
neofetch/
pcmanfm/
xsettingsd/
session/
Unknown Organization/
btop/
vlc/
inkscape/
nvim/
qtile/__pycache__/
vim/
bspwm/
GIMP/
coc/
tint2/
gtk-2.0/
balena-etcher/
systemd/
nvim.old/
nvim.old2/

appimagelauncher.cfg
okularrc
arkrc
kgpgrc
dragonplayerrc
drkonqirc
mimeapps.list
akonadi-firstrunrc
akonadi-migrationrc
akonadi-migrationrc.lock
akonadi_akonotes_resource_0rc
akonadi_contacts_resource_0rc
akonadi_ical_resource_0rc
akonadi_indexing_agentrc
akonadi_indexing_agentrc.lock
akonadi_maildir_resource_0rc
akregatorrc
baloofilerc
bluedevilglobalrc
dolphinrc
emaildefaults
emailidentities
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kalendaracrc
kateschemarc
kcminputrc
kconf_updaterc
kded5rc
kdeglobals
kglobalshortcutsrc
khotkeysrc
kmail2rc
kmixctrlrc
kmixrc
konquerorrc
konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwinrc
README.md
Trolltech.conf
kwinrulesrc
kxkbrc
okularpartrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
sddmthemeinstallerrc
specialmailcollectionsrc
spectaclerc
systemsettingsrc
user-dirs.dirs
user-dirs.locale
webengineurlinterceptoradblockrc

